:root {
  --valid: lime;
  --focus: orange;
  --invalid: red;
  --blur: #ccc;
}

form {
  display: grid;
  gap: 1.5rem;
  width: min(20rem, 100%);
}

input {
  border: 5px solid var(--color, var(--blur));
  border-radius: 10px;
}

/* Push the outline a bit more from border from default of chrome */
input:focus {
  outline-offset: 5px;
}

.form-group {
  display: grid;
  gap: 0.5rem;
  align-items: center;
}

/* Test has function
.form-group:has(input) input {
  border: 3px solid blue;
}
*/

/* the order has to be :invalid -> :focus -> :valid -> :placeholder-shown, so when you are typing, i don't show you the error yet until you move out from the input. */
.form-group:has(:invalid) {
  --color: var(--invalid);
}
.form-group:has(:invalid:not(:focus)) {
  animation: shake 0.5s;
}
.form-group:has(:focus) {
  --color: var(--focus);
}
.form-group:has(:valid) {
  --color: var(--valid);
}

.form-group:has(:placeholder-shown) {
  --color: var(--blur);
}
.form-group:has(:placeholder-shown:not(:focus)) {
  animation: none;
}

form:valid button {
  cursor: pointer;
  background-color: hsl(175 60% 40%);
  color: white;
}

.input-hint {
  margin: 0;
  font-size: 1rem;
  color: hsl(0 0% 70%);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-4%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(4%);
  }
}

/* general styling */
html {
  color-scheme: dark light;
}

body {
  font-size: 1.5rem;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

input,
button {
  padding: 0.5rem 0.75rem;
}

input::placeholder {
  font-size: 1rem;
}

button {
  cursor: not-allowed;
  background-color: hsl(175 10% 30%);
  color: hsl(175 10% 70%);
  border: 0;
  border-radius: 0.25rem;
}
